strategy: callout
hook_prefix: __test_hook
logging: printf
functions:
    - name: "[a-zA-Z0-9_]+"
      caller: [ entry, exit ]
      callee: [ entry, exit ]
structures:
  - name: test_struct.*
    fields:
      - name: test_int
        operations: [ read, write ]
      - name: test_charp
        operations: [ read, write ]
